<module>
	<rawname>restapi</rawname>
	<repo>standard</repo>
	<name>REST API</name>
	<version>16.0.1</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>AGPLv3</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<category>Admin</category>
	<description>***~~~~~ THIS MODULE IS DEPRECATED IN FAVOR OF THE API MODULE. IT IS NO LONGER MAINTAINED ~~~~*** RESTful API module for your PBX.</description>
	<menuitems>
		<restapi>REST API</restapi>
		<restapi_logs category="Reports">REST API Report</restapi_logs>
	</menuitems>
	<changelog>
		*16.0.1* Release 16.0 
	</changelog>
	<depends>
		<module>userman ge 2.11.0beta2</module>
		<module>core</module>
	</depends>
	<supported>
		<version>16.0</version>
	</supported>
	<hooks>
		<userman class="Userman" namespace="FreePBX\modules">
			<method callingMethod="delGroup" class="Restapi" namespace="FreePBX\modules">usermanDelGroup</method>
			<method callingMethod="addGroup" class="Restapi" namespace="FreePBX\modules">usermanAddGroup</method>
			<method callingMethod="updateGroup" class="Restapi" namespace="FreePBX\modules">usermanUpdateGroup</method>
			<method callingMethod="delUser" class="Restapi" namespace="FreePBX\modules">usermanDelUser</method>
			<method callingMethod="addUser" class="Restapi" namespace="FreePBX\modules">usermanAddUser</method>
			<method callingMethod="updateUser" class="Restapi" namespace="FreePBX\modules">usermanUpdateUser</method>
			<method callingMethod="myShowPage" class="Restapi" namespace="FreePBX\modules">usermanShowPage</method>
		</userman>
	</hooks>
</module>
